In [2]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

% matplotlib inline

In [3]:
dataSet1 = 'fullSky_year5_withinMagLimits_noAstromErr.txt'
dataSet2 = 'fullSky_year5_withinMagLimits_withAstromError.txt'
dbname = 'fullsky5year.db'

In [5]:
! ls *.txt

fullSky_year5_withinMagLimits_noAstromErr.txt
fullSky_year5_withinMagLimits_withAstromError.txt

In [6]:
con = sqlite3.connect("fullsky5year.db")

In [7]:
! head fullSky_year5_withinMagLimits_noAstromErr.txt

0	88648008	293470	222.105356	-25.922042	51028.961825	19.439661	28.546017
1	88648008	345561	223.344112	-25.024152	51028.961825	18.664966	58.267111
2	88648008	347355	224.888605	-26.936094	51028.961825	20.470075	11.050455
3	88648008	347486	224.737465	-27.01903	51028.961825	20.903364	7.4142
4	88648008	352241	224.059843	-27.670461	51028.961825	20.606525	9.745406
5	88648008	368430	222.026023	-26.324948	51028.961825	21.134773	5.991021
6	88648008	382815	225.409264	-25.877855	51028.961825	21.081325	6.29332
7	88648008	385797	222.160757	-24.663902	51028.961825	20.244909	13.597105
8	88648008	405550	223.95107	-25.097397	51028.961825	20.89285	7.486345
9	88648008	420948	224.733141	-26.772973	51028.961825	20.206288	14.089477

In [8]:
! head fullSky_year5_withinMagLimits_withAstromError.txt

0 88648008 293470 222.105326973 -25.922047919 51028.961825 19.439661 28.546017
1 88648008 345561 223.344121397 -25.024129773 51028.961825 18.664966 58.267111
2 88648008 347355 224.888641475 -26.936104948 51028.961825 20.470075 11.050455
3 88648008 347486 224.737456371 -27.019054417 51028.961825 20.903364 7.414200
4 88648008 352241 224.059800714 -27.670502710 51028.961825 20.606525 9.745406
5 88648008 368430 222.026062694 -26.324976069 51028.961825 21.134773 5.991021
6 88648008 382815 225.409282656 -25.877890173 51028.961825 21.081325 6.293320
7 88648008 385797 222.160772513 -24.663930254 51028.961825 20.244909 13.597105
8 88648008 405550 223.951077909 -25.097401094 51028.961825 20.892850 7.486345
9 88648008 420948 224.733138920 -26.772944254 51028.961825 20.206288 14.089477

In [9]:
con.execute("""
CREATE TABLE noAstromErr (
	num	INTEGER,
	nightid	INTEGER,
	objid	INTEGER,
	ra	REAL,
	dec	REAL,
	mjd	REAL,
	mag	REAL,
	snr	REAL
);
""")

In [10]:
con.execute("""
CREATE TABLE withAstromErr (
	num	INTEGER,
	nightid	INTEGER,
	objid	INTEGER,
	ra	REAL,
	dec	REAL,
	mjd	REAL,
	mag	REAL,
	snr	REAL
);
""")

In [11]:
data1 = pd.read_csv(dataSet1, header=None, delim_whitespace=True, names=['num','nightid','objid','ra','dec','mjd','mag','snr'], index_col='num')

In [12]:
data2 = pd.read_csv(dataSet2, header=None, delim_whitespace=True, names=['num','nightid','objid','ra','dec','mjd','mag','snr'], index_col='num')

In [13]:
data1.to_sql('noAstromErr', con, if_exists='append')

In [14]:
data2.to_sql('withAstromErr', con, if_exists='append')

In [15]:
con.close()
del data1
del data2