In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import runMops as mops
#import MopsPlotter as mpp
from MopsParameters import MopsParameters
from MopsTracker import MopsTracker

% matplotlib inline

In [2]:
name = 'testRun'
nightlySources = 'nightly/'
parameters = MopsParameters()
tracker = MopsTracker(name)

------- MOPS Parameters --------
Current Parameter Values:

---- findTracklets ----
	Maximum velocity:          2.0
	Minimum velocity:          0.0
---- collapseTracklets ----
	Right Ascension tolerance: 0.002
	Declination tolerance:     0.002
	Angular tolerance:         5
	Velocity tolerance:        0.05
---- purifyTracklets ----
	Maximum RMS:               0.001
---- makeLinkTrackletsInput_byNight.py ----
	Window size:               15

------- MOPS Tracker --------
Tracker initialized...

In [3]:
! rm -rf {name}
mops.runMops(parameters, tracker, 'nightly/', 'testRun')

---- directoryBuilder ----
Created testRun/ directory.
	Created tracklets/ directory.
	Created trackletsCollapsed/ directory.
	Created trackletsPurified/ directory.
	Created trackletsFinal/ directory.
	Created trackletsByNight/ directory.
	Created tracks/ directory.

Saving MopsParameters to testRun/parameters.yaml
---- findTracklets ----

---- idsToIndices.py ----

---- collapseTracklets ----

---- purifyTracklets ----

---- removeSubsets ----

---- indicesToIds.py ----

---- makeLinkTrackletsInput_byNight.py ----

---- linkTracklets ----

Current run status:
	findTracklets:                     True
	idsToIndices.py:                   True
	collapseTracklets:                 True
	purifyTracklets:                   True
	removeSubsets                      True
	indicesToIds.py:                   True
	makeLinkTrackletsInputByNight.py:  True
	linkTracklets:                     True
Saving MopsTracker to testRun/tracker.yaml

In [4]:
diasources = tracker.diaSources
tracklets = tracker.tracklets
trackletsByIndex = tracker.trackletsByIndex
collapsed = tracker.collapsedTracklets
purified = tracker.purifiedTracklets
final = tracker.finalTracklets
trackletsById = tracker.trackletsById
dets = tracker.trackletsByNightDets
ids = tracker.trackletsByNightIds
tracks = tracker.tracks

In [5]:
print tracklets

collapsed = np.loadtxt(collapsed[0])
purified = np.loadtxt(purified[0])
tracks = np.loadtxt(tracks[0])

['testRun/tracklets/54466.tracklet', 'testRun/tracklets/54467.tracklet', 'testRun/tracklets/54468.tracklet']

In [6]:
dbname = 'testData/testsources.db'

In [7]:
con = sqlite3.connect(dbname)

In [8]:
data = pd.read_sql_query("""
SELECT * FROM testsources
""", con)

In [9]:
data

,diaid,obshistid,ssmid,ra,dec,mjd,mag,snr
0,0,0,1,245.190772,-23.522923,54466.000000,15.859366,5
1,1,1,1,245.207797,-23.524799,54466.041667,15.859578,5
2,2,2,1,245.595164,-23.568111,54467.000000,15.864174,5
3,3,3,1,245.612142,-23.569938,54467.041667,15.864378,5
4,4,4,1,245.998400,-23.612118,54468.000000,15.868794,5
5,5,5,1,246.015332,-23.613897,54468.041667,15.868990,5
6,6,0,2,239.776045,-12.785856,54466.000000,25.484897,5
7,7,1,2,239.790793,-12.788275,54466.041667,25.484908,5
8,8,2,2,240.126284,-12.843637,54467.000000,25.484925,5
9,9,3,2,240.140997,-12.846006,54467.041667,25.484929,5
10,10,4,2,240.475672,-12.900223,54468.000000,25.484804,5
11,11,5,2,240.490350,-12.902542,54468.041667,25.484802,5
12,12,0,3,277.409858,-21.932396,54466.000000,24.434931,5
13,13,1,3,277.411194,-21.932325,54466.041667,24.435063,5
14,14,2,3,277.441740,-21.930799,54467.000000,24.438116,5
15,15,3,3,277.443076,-21.930728,54467.041667,24.438252,5
16,16,4,3,277.473592,-21.929187,54468.000000,24.441349,5
17,17,5,3,277.474926,-21.929116,54468.041667,24.441486,5

In [10]:
mpp.objectPlot(['1','2','3'],'testsources', con)

NameError: name 'mpp' is not defined

In [ ]:
mpp.objectPlot(['1'],'testsources', con)

In [ ]:
tracklets